{% block title %} 修改密码 {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post" action=".">
                {% csrf_token %}
                <!-- 旧密码 -->
                <div class="form-group">
                    <label for="old_password">旧密码</label>
                    <input type="password" class="form-control" id="old_password" name="old_password">
                </div>
                <!-- 新密码 -->
                <div class="form-group">
                    <label for="new_password">新密码</label>
                    <input type="password" class="form-control" id="new_password" name="new_password">
                </div>
                 <div class="form-group">
                    <label for="repeat_password">再次输入新密码</label>
                    <input type="password" class="form-control" id="repeat_password" name="repeat_password">
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}